# editors
/.idea
/.vscode

# system files
.DS_Store

# build
/dist/
/target/
/edet/
/src-tauri/target/
/src-tauri/gen/
/.android-sdk/

# npm 
/**/node_modules

# generated and compiled files
*.happ
*.webhapp
*.zip
*.dna

# temporary files
.hc*
.running
.hc

# swap files
**/*.swp

# simulation results
sim/results
**/__pycache__
output.log

# Tauri plugins build
src-tauri/plugins/**/target/
src-tauri/plugins/**/android/.tauri/
src-tauri/plugins/**/android/build/